{% extends 'layouts/website.njk' %}

{% block content %}
<main>
  <header>
    <hgroup>
      <h1 property="name">HCKR<em>.party</em></h1>
    </hgroup>
    <blockquote>
      <dl>
        <dt><code>/ˈhækə(r)/</code></dt>
        <dd>a person who uses or writes computer programs with enthusiasm and skill</dd>
        <dt><code>/ˈpɑːti/</code></dt>
        <dd>A social gathering, esp. of invited guests at a person's house, typically
          involving eating, drinking, and entertainment and often held to celebrate a
          particular occasion.</dd>
      </dl>
    </blockquote>
  </header>

  <section id="events">
    <h2>Upcoming events</h2>
    <ol>
      <li>
        <article>
          <h3>DataDay – the after party</h3>
          <p><time datetime="2025-11-27">27. November 2025</time> – Divadlo X10, Prague</p>
          <p><a href="https://www.dataday.cz/">https://www.dataday.cz/</a></p>
        </article>
      </li>
    </ol>
  </section>
</main>
{% endblock %}
