{% extends 'layouts/website.njk' %}

{% block content %}
<main>
  <header>
    <hgroup>
      <h1 property="name">HCKR<em>.party</em></h1>
    </hgroup>
    <blockquote>
      <dl>
        <dt><code>/ˈhækə(r)/</code></dt>
        <dd>a person who uses or writes computer programs with enthusiasm and skill</dd>
        <dt><code>/ˈpɑːti/</code></dt>
        <dd>A social gathering, esp. of invited guests at a person's house, typically
          involving eating, drinking, and entertainment and often held to celebrate a
          particular occasion.</dd>
      </dl>
    </blockquote>
  </header>

  <section id="events">
    <h2>Upcoming events</h2>
    <ol>
      <li>
        <article>
          <h3>Studnice Fest WarmUp</h3>
          <p><time datetime="2026-07-21">21. July 2026</time> - Cihelka, Hlinsko v Čechách</p>
          <p><a href="https://www.studnicefest.cz/">https://www.studnicefest.cz/</a></p>
        </article>
      </li>
      <li>
        <article>
          <h3>Hacker Camp</h3>
          <p><time datetime="2026-08-29">29. August 2026</time> – Hacker Camp, Jungle Release stage</p>
        </article>
      </li>
      <li>
        <article>
          <h3>DataDay – the after party</h3>
          <p><time datetime="2026-11-27">27. November 2026</time> – Divadlo X10, Prague</p>
          <p><a href="https://www.dataday.cz/">https://www.dataday.cz/</a></p>
        </article>
      </li>
    </ol>
    <h2>Past events</h2>
    <ol>
      <li>
        <article>
          <h3>DataMesh - after party</h3>
          <p><time datetime="2026-04-23">23. April 2026</time> – Direct Pojišťovna, Port7, Prague</p>
          <p><a href="https://luma.com/30ddg58l">Luma Event</a></p>
        </article>
      </li>
      <li>
        <article>
          <h3>Pre-Valentine's day party</h3>
          <p><time datetime="2026-02-12">12. February 2026</time> – Chateau Veleslavín</p>
          <p><a href="https://www.facebook.com/61566301782162/posts/-p%C5%99ipom%C3%ADnka-na-z%C3%ADtra-ve-%C4%8Dtvrtek-122-od-1400-n%C3%A1s-%C4%8Dek%C3%A1-spole%C4%8Dn%C3%A9-odpoledne-a-ve%C4%8Der-/122192773172543392">FB Event</a></p>
        </article>
      </li>
      <li>
        <article>
          <h3>DataDay – the after party</h3>
          <p><time datetime="2025-11-27">27. November 2025</time> – Divadlo X10, Prague</p>
          <p><a href="https://www.dataday.cz/">https://www.dataday.cz/</a></p>
        </article>
      </li>
      <li>
        <article>
          <h3>Hacker Camp</h3>
          <p><time datetime="2025-08-28">28. August 2025</time> – Hacker Camp, Jungle Release stage</p>
        </article>
      </li>
    </ol>
  </section>
</main>
{% endblock %}
