<!doctype html>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Now Playing</title>
<style>
  @font-face {
    font-family: "AvantGarde";
    src: url("{{ 'AvantGardeDefectedRegular.woff2' | assetUrl('fonts') }}") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "AvantGarde";
    src: url("{{ 'AvantGardeDefectedRegular.woff2' | assetUrl('fonts') }}") format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  :root {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-size: 100%;
    color-scheme: light dark;
    interpolate-size: allow-keywords;
  }

  body {
    color: var(--color, #fff);
    background-color: var(--background-color, #000);
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "lnum",
    "zero";
    font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "zero";
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    -webkit-font-variant-ligatures: common-ligatures contextual;
    font-variant-ligatures: common-ligatures contextual;
    font-variant-numeric: lining-nums slashed-zero;
    letter-spacing: 0;
  }

  h1 {
    font-family: var(
      --font-family,
      "AvantGarde",
      "Helvetica Neue",
      sans-serif
    );
    margin: 0 0 1em;
    font-size: var(--font-size, 36px);
    font-weight: var(--font-weight, 700);
    text-wrap: balance;
    font-variant-numeric: lining-nums;
  }

  :where(audio, iframe, img, svg, video) {
    max-block-size: 100%;
    max-inline-size: 100%;
  }

  @view-transition {
    navigation: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    @view-transition {
      navigation: auto;
    }
  }
  
  .visually-hidden {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>

<article>
  <img id="cover" src="" alt="" hidden>
  <h1 id="now-playing"></h1>
</article>
<!--
  @param deviceId - id of media device to listen to
  @param refresh - time interval in seconds to fetch track title - default `30`
  @param sample - how long should be the sample for fingerprinting in seconds - default `5`
  @param background-color - CSS <color>
  @param font-family - CSS <font-family>
  @param font-size - CSS <font-size>
  @param font-weight - CSS <font-weight>
  @param gfont - Google Fonts family name
-->
<script type="module">
  import setStyles from "{{ 'set-styles.js' | assetUrl('esm') }}";
  import {main} from "{{ 'shzm.js' | assetUrl('esm') }}";

  let wakeLock = null;

  async function requestWakeLock() {
    try {
      wakeLock = await navigator.wakeLock.request("screen");
    } catch (err) {
      console.error(err);
    }
  }

  let nowPlaying = document.getElementById("now-playing");
  let coverImg = document.getElementById("cover");
  let params = new URLSearchParams(location.search);

  setStyles(params);

  let audio = params.has("deviceId") ? {deviceId: params.get("deviceId")} : true;
  let refreshSec = params.has("refresh") ? Number.parseInt(params.get("refresh")) : 30;
  let sampleSec = params.has("sample") ? Number.parseInt(params.get("sample")) : 5;

  let mediaStream = await navigator.mediaDevices.getUserMedia({audio});
  let audioCtx = new AudioContext();
  await audioCtx.resume();
  await audioCtx.audioWorklet.addModule("{{ 'shazam-processor.js' | assetUrl('esm') }}");
  let input = new MediaStreamAudioSourceNode(audioCtx, {mediaStream});
  let shazam = new AudioWorkletNode(audioCtx, "shazam-processor");
  let merger = new ChannelMergerNode(audioCtx, {channelCount: 1});
  input.connect(merger, 0, 0);
  input.connect(merger, 0, 1);
  merger.connect(shazam);

  const state = await main({
    port: shazam.port,
    sampleRate: audioCtx.sampleRate,
    sampleSec,
    refreshSec,
  });

  state.addWatch("render", (id, prev, x) => {
    nowPlaying.innerText = `${x.subtitle} - ${x.title}`;
    coverImg.src = x.images.coverart;
    coverImg.hidden = !x.images.coverart;
  });

  requestWakeLock();
</script>
